.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.MuiCardHeader-action.css-sgoict-MuiCardHeader-action {
  align-self: auto;
  margin: 0 auto;
}

.MuiInputLabel-formControl.MuiInputLabel-animated[data-shink="true"] {
  margin-left: 4px;
}